# SPDX-FileCopyrightText: Copyright 2025 Arm Limited and/or its affiliates <open-source-office@arm.com>
#
# SPDX-License-Identifier: Apache-2.0
#
# requirements.txt
# Quantizing Stable Diffusion 3.5 Medium using ONNX Live (Olive)
#
# Created by Waheed Brown on August 12, 2025

diffusers
olive-ai[auto-opt]
onnxruntime-genai
optimum[onnxruntime]
sentencepiece
transformers