# SPDX-FileCopyrightText: Copyright 2025 Arm Limited and/or its affiliates <open-source-office@arm.com>
#
# SPDX-License-Identifier: Apache-2.0
#
# requirements.txt
# Quantize ONNX model to INT8
#
# Created by Waheed Brown on May 5, 2025

diffusers>=0.33.1
huggingface_hub[cli]>=0.30.2
onnx>=1.17.0
onnxruntime>=1.21.1