# SPDX-FileCopyrightText: Copyright 2025 Arm Limited and/or its affiliates <open-source-office@arm.com>
#
# SPDX-License-Identifier: Apache-2.0
#
# requirements.txt
# Stable Diffusion 3.5 Inpainting using ONNX
#
# Created by Waheed Brown on April 24, 2025

diffusers>=0.33.1
gradio>=5.25.2
onnxruntime>=1.22.0
optimum[onnxruntime]>=1.24.0
sentencepiece>=0.2.0