# SPDX-FileCopyrightText: Copyright 2025 Arm Limited and/or its affiliates <open-source-office@arm.com>
#
# SPDX-License-Identifier: Apache-2.0
#
# requirements.txt
# Pytorch to ONNX Model Conversion
#
# Created by Waheed Brown on April 24, 2025

accelerate>=1.6.0
diffusers>=0.33.1
onnxruntime>=1.21.1
optimum[onnxruntime]>=1.24.0
sentencepiece>=0.2.0
transformers>=4.29
